body {
  margin: 1em 0;
  padding: 0;
  font-family: sans-serif;
}

section {
    margin-top: 1.5em;
}

label {
    padding-right: 1.5em;
}

    label input:not([type="checkbox"]) {
        max-width: 25em;
    }

.hidden {
    display: none;
}

.loan-form-matches {
    margin-top: 1.5em;
}
